:root {
    --square-side: 200px;
    --translate-forward: calc(var(--square-side) / 2);
    --translate-backward: calc(var(--translate-forward) * -1);
    --triangle-height: 173.20508075688772px;
    --translate-forward-d4: calc(var(--triangle-height) / 2);
    --translate-backward-d4: calc(var(--translate-forward-d4) * -1);
    --triangle-angle: 19.5deg;
    --center: translate(-50%, -50%);
    --shrink: scale3d(0.25, 0.25, 0.25);
    --font-lg: 700 128px 'Arimo', 'sans-serif';
    --font-md: 700 96px 'Arimo', 'sans-serif';
    --font-sm: 700 64px 'Arimo', 'sans-serif';
    --showcase-height: 125px;
    --container-height: calc(100% - var(--showcase-height));
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#showcase {
    width: 100%;
    height: var(--showcase-height);
    box-sizing: border-box;
    background-color: aliceblue;
    border: 10px solid #000;
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

#container {
    height: var(--container-height);
    width: 100%;
    background: linear-gradient(to top, #0a81a5, #6f00ff);
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#d6 {
    width: var(--square-side);
    height: var(--square-side);
    background-color: transparent;
    transform-style: preserve-3d;
    user-select: none;
    cursor: pointer;
}

.miniature {
    animation: Spin 10s linear infinite alternate;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}


#d6 .faces {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: radial-gradient(#504e4e, #000000);
    position: absolute;
    transform-style: preserve-3d;
}

#d6 .front {
    transform: translateZ(var(--translate-forward));
}

#d6 .back {
    transform: rotateY(180deg) translateZ(var(--translate-forward));
}

#d6 .right {
    transform-origin: right;
    transform: rotateY(90deg) translateX(var(--translate-forward));
}

#d6 .left {
    transform-origin: left;
    transform: rotateY(270deg) translateX(var(--translate-backward));
}

#d6 .bottom {
    transform-origin: bottom;
    transform: rotateX(270deg) translateY(var(--translate-forward));
}

#d6 .top {
    transform-origin: top;
    transform: rotateX(90deg) translateY(var(--translate-backward));
}

#d4 {
    box-sizing: border-box;
    background-color: transparent;
    width: 200px;
    height: var(--triangle-height);
    transform-style: preserve-3d;
    user-select: none;
    cursor: pointer;
}

#d4 .faces {
    position: absolute;
    box-sizing: border-box;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    background: radial-gradient(#504e4e, #000000);;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

#d4 .front {
    transform-origin: bottom;
    transform: translateZ(var(--translate-forward-d4)) rotateX(var(--triangle-angle));
}

#d4 .bottom {
    transform-origin: bottom;
    transform: rotateX(90deg) rotateY(180deg) translateY(var(--translate-forward-d4));
}

#d4 .left {
    transform-origin: bottom;
    transform: translateX(-50px) rotateY(240deg) rotateX(var(--triangle-angle));
}

#d4 .right {
    transform-origin: bottom;
    transform: translateX(50px) rotateY(120deg) rotateX(var(--triangle-angle));
}

#d4 .number {
    font: var(--font-md);
    color: #fff;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: var(--center);
}

.number {
    font: var(--font-lg);
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: var(--center);
}

@keyframes Roll {
    25% {
        transform: rotateX(10turn) rotateY(10turn);
    }

    50% {
        transform: rotateX(2turn) rotateY(2turn);
    }
}

@keyframes PopIn {
    0% {
        transform: scale3d(0, 0, 0) rotateX(200deg) rotateY(200deg);
    }

    70% {
        transform: scale3d(1.2, 1.2, 1.2) rotateX(30deg) rotateY(30deg);
    }
}

@keyframes Spin {
    0% {
        transform: var(--shrink) rotateX(0turn) rotateY(0turn) rotateZ(0turn);
    }

    50% {
        transform: var(--shrink) rotateX(1turn) rotateY(2turn) rotateZ(0.5turn);
    }

    100% {
        transform: var(--shrink) rotateX(2turn) rotateY(3turn) rotateZ(1turn);
    }
}